<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/recipes.css" />
  </head>
  <body>
    <%- include('components/navbar') %>
    <h1>Recipes based on your fridge!</h1>
    <div class="recipes-container">
      <% recipes.forEach((recipe) => { %>
      <div class="recipe-card">
        <img src="<%= recipe.image %>" alt="<%= recipe.title %>" />
        <h3><%= recipe.title %></h3>
        <p>
          <strong>Used Ingredients:</strong> <%=
          recipe.usedIngredients.join(",") %>
        </p>
        <p>
          <strong>Missing Ingredients:</strong>
          <%=recipe.missedIngredients.join(", ") %>
        </p>
      </div>
      <% }) %>
    </div>
  </body>
</html>
